.conteudoPrincipal {
    font-size: 3rem;
    padding: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  
  .conteudoPrincipal span.typed-text {
    font-weight: normal;
    color: #000;
  }
  
  .conteudoPrincipal span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  
  .conteudoPrincipal span.cursor.typing {
    animation: none;
  }

  .videoConteudo{
    width: 500px;
    margin: 2em auto;
  }

  .video{
    margin-bottom: 3em;
  }