@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Rubik:wght@500;600&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: #142130;
}

/**** Layout ****/

.cabecalhoPrincipal {
	background-color: #554cd4;
	padding: 20px 0;
	display: flex;
	justify-content: space-around
}

.container {
	width: 95%;
}

.cabecalhoPrincipal-titulo {
	color: #f7b600;
	font-weight: bold;
	font-size: 2em;
}

.cabecalhoPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #ffffff;
	text-decoration: none;
	transition: .5s;
	display: block;
	border-bottom: 1px solid #9799A6;
}

@media(min-width: 769px) {

	.container {
		width: 85%;
	}


	.cabecalhoPrincipal-nav-link {
		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.cabecalhoPrincipal-nav-link:hover {
		color: #FFF;
		background-color: #9799A6;
	}

	.cabecalhoPrincipal-titulo {
		margin: 0;
	}

	.cabecalhoPrincipal-nav {
		width: auto;
	}

	.cabecalhoPrincipal-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}


}

.title span {
	font-size: 34px;
	font-family: Rubik;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	display: block;
	color: transparent;
	-webkit-animation: revealText 1s var(--total) forwards;

}

.title span::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: #bb93fc;
	transform-origin: left;
	transform: scaleX(0);
	-webkit-animation: rollIn var(--duration) var(--delay) forwards, rollOut var(--duration) var(--total) forwards;
}

.title span:nth-child(2)::after {
	border-top: 3px solid #896ab9;
}

@-webkit-keyframes revealText {
	to {
		color: #fff;
	}
}

@-webkit-keyframes rollIn {
	from {
		transform: scaleX(0);
	}

	to {
		transform: scaleX(1);

	}
}

@keyframes rollOut {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(105%);
	}
}


.novidades {
	padding: 30px;
}

h3 {
	padding: 30px;
	text-align: center;
	font-size: 30px;
	color:#f7b600;
}

.organograma {
	padding: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}


p {
	text-align: center;
	font-size: large;
	vertical-align: top;
	margin-right: 15%;
}

.imagensNovidades {
	width: 37%;
	border-radius: 10px;
	text-align: center;
	margin: auto;
	display: block;
}

.espioes {
	padding: 20px;
}

#novidadeText {
	font-family: Roboto 500;
	margin: auto;
	display: block;
	padding: 26px;
	color: white;
}

.primeiro-titulo {
	width: 50%;
	height: 70vh;
	background-color: rgba(37, 37, 37, 0.425);
	color: #FFF;
	box-shadow: 0 0 10px rgb(0, 0, 0, .25);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 8px;
	position: absolute;
	top: 55%;
	left: 50%;
	padding: 15px;
	transform: translate(-50%, -50%);
}

.secudario-titulo {
	width: 50%;
	height: 70vh;
	background-color: rgba(37, 37, 37, 0.425);
	color: #FFF;
	box-shadow: 0 0 10px rgb(0, 0, 0, .25);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 8px;
	position: absolute;
	top: 130%;
	left: 50%;
	padding: 15px;
	transform: translate(-50%, -50%);
}

.terceiro-titulo {
	width: 50%;
	height: 70vh;
	background-color: rgba(37, 37, 37, 0.425);
	color: #FFF;
	box-shadow: 0 0 10px rgb(0, 0, 0, .25);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 8px;
	position: absolute;
	top: 205%;
	left: 50%;
	padding: 15px;
	transform: translate(-50%, -50%);
}

.quarto-titulo {
	width: 50%;
	height: 70vh;
	background-color: rgba(37, 37, 37, 0.425);
	color: #FFF;
	box-shadow: 0 0 10px rgb(0, 0, 0, .25);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 8px;
	position: absolute;
	top: 280%;
	left: 50%;
	padding: 15px;
	transform: translate(-50%, -50%);
}

.home-conteudo {
	color:#ffffff;
	text-align: center;
}
