@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Rubik:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@300;400;500&family=Rubik:wght@500;600&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  background-color: #183f6d;
  /* background-color: #142130; */
  /* background-color: #F3F4F6; */
}

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100");

html,
body {
  height: 100%;
}

.containerSobre {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text {
  font-family: "Roboto Medium", monospace;
  font-weight: 100;
  font-weight: "bold";
  font-size: 28px;
  color: #fafafa;
}

.dud {
  color: #757575;
}

/* index */

#tela-login {
  background-color: #554cd4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  border-radius: 15px;
  color: white;
  border: 2px solid #f7b600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titulo-login {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.input-login {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
}

#button-login {
  background-color: #f7b600;
  border: none;
  padding: 10px;
  width: 60%;
  border-radius: 10px;
  color: white;
}

#button-login:hover {
  background-color: #fdc835;
}

/**** Layout ****/

.cabecalhoPrincipal {
  background-color: #554cd4;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.cabecalhoPrincipal-titulo {
  color: #f7b600;
  font-weight: bold;
  font-size: 2em;
}

.titulo-centralizado {
  margin-bottom: 40px;
}

.titulo-centralizado-main {
  padding: 30px;
  text-align: center;
  font-size: 30px;
  color: #f7b600;
}

.conteudo-main {
  width: 25%;
  height: 100px;
  margin: 1%;
  position: relative;
}

.imagemDev {
  position: absolute;
  left: 700px;
  top: 250px;
}

.conteudo-main-home {
  color: white;
  margin: 20px;
}

.titulo-main-home {
  color: #f7b600;
}

.conteudoPrincipal-cursos-link a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.conteudoPrincipal-cursos-link:hover {
  box-shadow: 4px 4px 4px #ccc;
}

.conteudoPrincipal-cursos-link a:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 10px auto;
}

.cabecalhoPrincipal-nav-link {
  padding: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
  display: block;
  border-bottom: 1px solid #9799a6;
}

.conteudoPrincipal {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cabecalhoPrincipal-main {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #ffffff;
  font-size: 3em;
}

.conteudoPrincipal-main p {
  text-align: center;
}

.title span {
  font-size: 34px;
  font-family: Rubik;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  display: block;
  color: transparent;
  /* -webkit-animation: revealText 1s var(--total) forwards; */
}

.title span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #bb93fc;
  transform-origin: left;
  transform: scaleX(0);
  /* -webkit-animation: rollIn var(--duration) var(--delay) forwards, rollOut var(--duration) var(--total) forwards; */
}

.title span:nth-child(2)::after {
  border-top: 3px solid #896ab9;
}

.novidades {
  padding: 30px;
  width: 100%;
  height: 50px;
}

.imagensNovidades {
  width: 37%;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  display: block;
}

.espioes {
  padding: 20px;
}

#novidadeText {
  font-family: Roboto 500;
  margin: auto;
  display: block;
  padding: 26px;
  color: white;
}

.primeiro-titulo {
  margin-top: 228px;
  margin-bottom: 70px;
  width: 50%;
  height: 80vh;
  background-color: rgba(37, 37, 37, 0.425);
  color: #fff;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  position: relative;
  top: 200px;
  left: 50%;
  padding: 15px;
  transform: translate(-50%, -50%);
}

.box2 {
  margin-bottom: 40px;
}

.secudario-titulo {
  width: 50%;
  height: 80vh;
  background-color: rgba(37, 37, 37, 0.425);
  color: #fff;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  position: relative;
  top: 210px;
  left: 50%;
  padding: 15px;
  padding-top: 10px;
  margin-top: 30px;
  margin-bottom: 70px;
  transform: translate(-50%, -50%);
}

.terceiro-titulo {
  width: 50%;
  margin-top: 40px;
  height: 80vh;
  background-color: rgba(37, 37, 37, 0.425);
  color: #fff;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  position: relative;
  top: 220px;
  left: 50%;
  padding: 15px;
  transform: translate(-50%, -50%);
}

.quarto-titulo {
  margin-top: 47px;
  width: 50%;
  height: 80vh;
  background-color: rgba(37, 37, 37, 0.425);
  color: #fff;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  position: relative;
  top: 230px;
  left: 50%;
  padding: 15px;
  transform: translate(-50%, -50%);
}

.home-conteudo {
  color: #ffffff;
  margin-left: 15px;
}

.organograma {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.titulo-benchmarking {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #f7b600;
  width: 94%;
}

.benchmarking-conteudo {
  color: #fff;
  margin: 0 auto;
  width: 94%;
  margin-top: 111px;
}

.benchmarking-conteudo-paragrafo {
  margin: 15px 0px;
}

/* .wrap {
  width: 50vw;
  box-sizing: border-box;
  line-height: 1.65;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  @media screen and (max-width: 800px) { 
		width: 75vw;
	}
  p {
    margin: 0 0 20px;
    font-size: 25px;
    &:last-child {
      margin: 0;
    }
    a {
      position: relative;
      overflow: hidden;
      text-decoration: none;
      color: $link;
      &::after {
        content: "";
        background: rgba($link, 0.25);
        position: absolute;
        left: 12px;
        bottom: -6px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        z-index: -1;
        transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
      }
      &:hover:after {
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 100%;
      }
    }
  }
} */
/* body {
  background: #ECEFF1;
  font-family: 'Ubuntu', sans-serif;
  color: #2a2a2a;
} */
/* @-webkit-keyframes revealText {
	to {
		color: #fff;
	}
}

@-webkit-keyframes rollIn {
	from {
		transform: scaleX(0);
	}

	to {
		transform: scaleX(1);

	}
}

@keyframes rollOut {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(105%);
	}
} */

.imagemFluxo {
  width: 40%;
  text-align: center;
  margin: 135px 400px 40px 400px;
  display: block;
  border: 4px solid #f7b600;
  border-radius: 20px;
}

/* p {
	text-align: center;
	font-size: large;
	vertical-align: top;
	margin-right: 15%;
} */

/* @media(min-width: 769px) {

	.container {
		width: 85%;
	}


	.cabecalhoPrincipal-nav-link {
		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.cabecalhoPrincipal-nav-link:hover {
		color: #FFF;
		background-color: #9799A6;
	}

	.cabecalhoPrincipal-titulo {
		margin: 0;
	}

	.cabecalhoPrincipal-nav {
		width: auto;
	}

	.cabecalhoPrincipal-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}


} */

/* BUTTON DRIE */

@-webkit-keyframes revealText {
  to {
    color: #fff;
  }
}

@-webkit-keyframes rollIn {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes rollOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(105%);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw;
	height: 100vh; */
  font-size: 17px;
  font-weight: 100;
}
a {
  color: #000;
  text-decoration: none;
}
a span {
  font-weight: 100;
  transition: all 0.5s;
  border-bottom: 1px solid;
}
a span:nth-child(2) {
  transition-delay: 0.1s;
}
a span:nth-child(3) {
  transition-delay: 0.2s;
}
a span:nth-child(4) {
  transition-delay: 0.3s;
}
a:hover span {
  font-weight: 700;
}
a:hover span:nth-child(4) {
  transition-delay: 0.3s;
}
a:hover span:nth-child(3) {
  transition-delay: 0.2s;
}
a:hover span:nth-child(2) {
  transition-delay: 0.1s;
}
a:hover span:nth-child(1) {
  transition-delay: 0s;
}
a.hover-shadow:hover {
  text-shadow: 1px 1px 0px #ddd, 2px 2px 0px #ddd, 3px 3px 0px #ddd;
}
a.hover-color:hover {
  border-color: darkmagenta;
}

.breakline {
  display: none;
}

@media only screen and (max-width: 844px) {
  .benchmarking-conteudo {
    margin-top: 440px;
    text-align: center;
    padding-left: 121px;
  }

  .containerContent {
		display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 172px 5px;
    margin-left: -111px;
  }
  ul {
    width: 844px;
  }
  .imagemFluxo {
    width: 83%;
    text-align: center;
    margin: 135px 210px 400px;
    display: block;
    border: 4px solid #f7b600;
    border-radius: 20px;
  }
}
