*{
    padding: 0;
    margin: 0;
}

body{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #142130;
}

/**** Layout ****/

.container{
	width: 94%;
}

.cabecalhoPrincipal{
    background-color: #554cd4;
	padding: 20px 0;
}

.cabecalhoPrincipal-titulo{
	color: #f7b600;
	font-weight: bold;
	font-size: 2em;
}

.cabecalhoPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #ffffff;
	text-decoration: none;
	transition: .5s;
	display: block;
	border-bottom: 1px solid #9799A6;
}

@media(min-width: 769px) {

	.container {
		width: 85%;	
	}


	.cabecalhoPrincipal-nav-link {
		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.cabecalhoPrincipal-nav-link:hover {
		color: #FFF;
		background-color: #9799A6;
	}

	.cabecalhoPrincipal-titulo {
		margin: 0;
	}

	.cabecalhoPrincipal-nav {
		width: auto;
	}

	.cabecalhoPrincipal-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}


}




/* **** Formatação do menu **** */

/* nav {
    position: absolute;
    top: 30px;
    right: 40px;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

nav a:hover{
    color: #f7b600;
} */



/* Formatação da Main */

/* main{
	width: 100%;
}

.cabecalhoPrincipal {
	width: 940px;
	height: auto;
	margin: 0 auto;
	padding: 15px;
}

.area-postagens {
	width: 660px;
	float: left;
}

#area-lateral {
	width: 240px;
	float: right;
}

.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

.conteudo-lateral {
	background: white;
	padding: 10px;
	margin-bottom: 40px;
}

.postagem-lateral {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
}

footer{
    text-align: center;
    background: url("img\ produtos/bg.jpg");
    padding: 30px 0;
}

/* #rodape {
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
} */




/* a {
	text-decoration: none;	
}

a:link, a:visited {
	color: #142130;
    font-size: 1.3em;
}

a:hover {
	text-decoration: underline;
} */

/* #area-menu a:link, #area-cabecalho a:visited {
	color: #ffffff;
	padding: 8px 55px;
}
#area-menu a:hover {
	color: #ffbc02;
	background: #142130;
	text-decoration: none;
} */
/*
**** Formatações em geral ****
*/
/* h1 {
	
} */

/* h2 {
	color: #f7b600;
}

h3 {
	color: #f7b600;
	background: #CCC;
	padding: 5px;
} */ 




